css-style-sheet1
<style>
element.style {
  background-color: lightblue;
  
  
}




.nav {
  flex-direction: space-around; 
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 35px;
  padding: 20px;
}

.navbar {
	float: right; /* Float a link to the right */
	display: block; /* Change the display to block, for responsive reasons (see below) */
	color: rgb(7, 6, 6); /* black text color */
	text-align: center; /* Center the text */
	padding: 14px 20px; /* Add some padding */
	text-decoration: none; /* Remove underline */
  }



