* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  top: 0;
  padding: 0;
  font: Arial, Helvetica, sans-serif ; 
  background-color: rgb(230, 221, 238);
}
/*navbar*/

header {
  padding: 25px 40px;
  background-color: #300136;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  color: rgb(45, 9, 89);
  border: 10px solid white;
  border-left: 100px solid white;
  border-right: 18px solid white;
  background-color: white;
  margin-left: -40px;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 25px;
  color: white;
}
ul li {
  text-decoration: none;
  list-style: none;
  display: inline;
}

li a {
  text-decoration: none;
  padding: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

/*hero styles*/
.hero {
  background-image: url(./assets/headerpurple.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero h3 {
  font-weight: bold;
  font-size: 28px;
  color: rgb(246, 235, 235);
  background-color: rgba(135, 206, 250, 0);
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.hero img {
  width: 180px;
  height: 180px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 60px;
}

/* about*/

.bio h2 {
  font-weight: bold;
  font-size: 36px;
  color: rgb(37, 32, 58);
  position: absolute;
  left: 130px;
  margin: 0;
  padding-left: 40px;
  text-align: right;
} 

.bio p {
  line-height: 1.7;
  color: rgb(37, 32, 58);
  width: 60%;
  font-size: 17px;
  border-left: 3px solid rgb(37, 32, 58);
  margin: 30px auto;
  padding-left: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

/*work*/
.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.flex-item {
  border:5px solid rgb(165, 28, 196);
  color: rgb(37, 32, 58);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 2em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 120%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.flex-item:first-child {
  min-height: 350px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(98, 36, 190, 0.519);
}

.flex-item div {
  background-color: rgba(167, 203, 241, 0.723);
  padding: 8px 10px;
  cursor: pointer;
}

.flex-item h3 {
  font-size: 1.6rem;
}

.projects {
  line-height: 1.7;
  color: rgb(37, 32, 58);
  width: 60%;
  font-size: 22px;
  border-left: 3px solid rgb(37, 32, 58);
  margin: 30px auto;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}

.projects h2{
  font-weight: bold;
  font-size: 36px;
  color: rgb(37, 32, 58);
  position: absolute;
  left: 130px;
  margin: 0;
  padding-left: 40px;
  text-align: right;
} 

.project1 {
  background-image: url("https://raw.githubusercontent.com/ssimmons122/02-portfolio-start/main/assets/MoveMeScene.png");
  background-repeat: no-repeat;
}

.project2 {
  background-image: url("https://user-images.githubusercontent.com/121777930/224603658-15aad6c4-9d3e-41e2-a60f-6fad5b4fe6e6.png");
}

.project3 {
  background-image: url("https://user-images.githubusercontent.com/121777930/236078397-736df261-4772-4b68-b631-83c86c98bead.png");
}

.project4 {
  background-image: url("https://user-images.githubusercontent.com/121777930/222046676-fd4835cb-82ca-48a9-9524-4b10efae9c71.png");
}

.project5 {
  background-image: url("https://raw.githubusercontent.com/ssimmons122/02-portfolio-start/main/assets/ZenZone.png");
}

.contact h2{
  font-weight: bold;
  font-size: 36px;
  color: rgb(37, 32, 58);
  position: absolute;
  left: 130px;
  margin: 0;
  padding-left: 40px;
  text-align: right;
}

.contact {
  line-height: 1.7;
  color: rgb(37, 32, 58);
  width: 60%;
  font-size: 22px;
  border-left: 3px solid rgb(37, 32, 58);
  margin: 30px auto;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}

/* Change the link color on hover */
li a:hover {
  background-color: #bd82c4;
}
  nav ul {
    display: flex;
    flex-direction: row;
    grid-row: 15px;
  }
   
 /* adaptive */
 @media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }
}








